@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

*, :before, :after { margin: 0; padding: 0; border:0; font-style: normal; vertical-align: top; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; outline: none;}

table {width:100%; border-collapse: collapse; border-spacing: 0; table-layout: fixed;}
th, td {vertical-align:middle; word-break: break-word; white-space: nowrap;}
ul, ol, dl { list-style: none; word-break: keep-all; word-break: break-word; }
hr { display: none; }
caption, figcaption, legend { overflow: hidden; position: absolute; z-index:-1; height:0; visibility: hidden; }

h1, h2, h3, h4, h5, h6, strong {font-weight:500;}

a { color: #333; text-decoration: none; }
a:hover, a:focus { text-decoration: none; }

button { padding: 0; border: 0; cursor: pointer; background: none; vertical-align: middle; appearance: none; font-family: "Noto Sans KR", "맑은 고딕", sans-serif; color: #747474; outline: none; }

select { appearance: none; color: #747474; vertical-align: middle; border-radius: 0; font-family: "Noto Sans KR", "맑은 고딕", sans-serif; }
select:disabled { background-color: #f2f2f2; color: #999; }
select::-ms-expand { display: none; }

.select_wrap {position:relative; z-index:0; height:36px;}
.select_wrap select {width:100%; height:36px; opacity: 0; padding-left:7px; padding-right:40px; font-size:16px; line-height:34px;}
.select_wrap select + label {position:absolute; top:0; left:0; z-index:-1; width:100%; height:36px; padding-left:10px; font-size:16px; line-height:34px; background-color:#fff; border:1px solid #d1d1d1; cursor: pointer;}
.select_wrap select + label:after {content:''; position:absolute; top:9px; right:10px; width:12px; height:12px; border-bottom:1px solid #999; border-right:1px solid #999; transform: rotate(45deg); transition: .5s;}
.select_wrap select:focus + label {border:1px solid #40cecd;}
.select_wrap select:focus + label:after {top:15px; transform: rotate(-135deg);}

input { margin: 0; padding: 0; font-family: inherit; font-size: inherit; color: #333; line-height: 17px; vertical-align: top; -webkit-appearance: none; border-radius: 0; outline: none;}
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="file"] {height:36px; padding:0 10px; font-size:16px; font-weight:100; line-height:34px; background-color:#fff; border:1px solid #d1d1d1; box-sizing:border-box; -webkit-appearance:none; border-radius: 0;}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="file"]:focus { border: 1px solid #40cecd; }
input[type="text"]:disabled,
input[type="text"][readonly],
input[type="password"]:disabled,
input[type="password"][readonly],
input[type="tel"]:disabled,
input[type="tel"][readonly],
input[type="file"]:disabled,
input[type="file"][readonly] { background-color: #f2f2f2; color: #999; }

input[type="radio"] {position:absolute; z-index:-1; visibility:hidden; width: 18px; height: 18px; }

input[type="checkbox"] {position:absolute; z-index:-1; visibility:hidden; width: 18px; height: 18px; }

input[type="checkbox"] + label {position:relative; display:inline-block; overflow:hidden; width: 18px; height: 18px; text-indent:-9999em; border:1px solid #ccc; vertical-align: middle; cursor: pointer;}
input[type="checkbox"]:checked + label {border:1px solid #40cecd;}
input[type="checkbox"]:checked + label:after {content:''; position:absolute; top:0; left:5px; width:6px; height:12px; border-right:2px solid #40cecd; border-bottom:2px solid #40cecd; transform:rotate(45deg);}

input[type="radio"] + label {position:relative; display:inline-block; overflow:hidden; height:18px; padding-left:22px;  color:#444; font-size:14px; line-height:18px; vertical-align:middle; cursor:pointer;}
input[type="radio"] + label:after {content:''; position:absolute; left:0; top:0; width:18px; height:18px; text-indent:-9999em; border:1px solid #ccc; border-radius:9px;}
input[type="radio"]:checked + label {color:#000;}
input[type="radio"]:checked + label:after {border:1px solid #000;}
input[type="radio"]:checked + label:before {content:''; position:absolute; left:4px; top:4px; width:10px; height:10px; text-indent:-9999em; background:#000; border-radius:6px;}

input[type="radio"].noText + label {position:relative; display:inline-block; overflow:hidden; width: 18px; height: 18px; text-indent:-9999em; border:1px solid #ccc; vertical-align: middle; cursor: pointer;}
input[type="radio"].noText:checked + label {border:1px solid #40cecd;}
input[type="radio"].noText:checked + label:after {content:''; position:absolute; top:0; left:5px; width:6px; height:12px; border-right:2px solid #40cecd; border-bottom:2px solid #40cecd; transform:rotate(45deg);}

textarea { -webkit-appearance: none; border-radius: 0; border:1px solid #d1d1d1; color: #222; font-weight:300; background: #fff; padding: 15px 10px; font-family: "Noto Sans KR", "맑은 고딕", sans-serif; font-size: 16px; width: 100%; min-height: 80px; box-sizing: border-box; resize: none;}

::placeholder {color: #a1a2a6; font-weight:100; opacity: 1;}
:-ms-input-placeholder {color: #a1a2a6; font-weight:100;}
::-ms-input-placeholder {color: #a1a2a6; font-weight:100;}

body { font-family: "Noto Sans KR", "맑은 고딕", sans-serif; font-weight:300; font-size: 16px; color: #222; line-height: normal; background: #e7ebf6 url(../img/nav_bg.png) repeat-y 0 0; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body.login {background:#e7ebf6;}

/* 요소 숨김 */
.blind { overflow: hidden; position: absolute; z-index:-1; height:0; visibility: hidden; }



header {position:fixed; top:0; left:0; z-index:100; width:100%; min-width:1580px; height:56px; background:#5e6882; border-bottom:1px solid #565b68;}
header h1 {overflow:hidden; text-align:center;}
header nav {position:absolute; right:30px; top:0;}
header nav ul {display:inline-block; width:100%;}
header nav ul li {position:relative; float:left;}
header nav ul li > a {position:relative; display:block; height:55px; padding:7px 5px; overflow:hidden;}
header nav ul li > a img {height:100%;}
header nav ul li > a span {position:absolute; top:10px; right:0; width:24px; height:24px; color:#fff; font-size:14px; text-align:center; line-height:23px; background:#ff0000; border-radius:10px;}
header .alarmPop {display:none; position:fixed; top:56px; right:115px; width:420px; border:2px solid #222; background:#fff; box-shadow:1px 1px 5px rgba(0,0,0,.3);}
header nav ul li > .logout {position:absolute; top:57px; right:0; z-index:9999; width:160px; height:60px; background:#5e6882; opacity:0; transition:.5s;}
header nav ul li > .logout a {position:relative; display:block; padding-left:35px; color:#fff; line-height:60px;}
header nav ul li > .logout a:before {content:''; position:absolute; top:21px; right:45px; width:20px; height:20px; border:3px solid #fba602; border-radius:15px;}
header nav ul li > .logout a:after {content:''; position:absolute; top:16px; right:50px; width:10px; height:20px; border:3px solid #5e6882; background:#fba602; border-radius:5px;}
header nav ul li.outBtn:hover .logout {opacity:1;}



header .timePop {display:none; position:fixed; top:56px; right:115px; width:420px; border:2px solid #222; background:#fff; box-shadow:1px 1px 5px rgba(0,0,0,.3);}
header .timePop h4 {height:60px; padding-left:15px; color:#222; font-size:20px; font-weight:100; line-height:60px; border-bottom:1px solid #ddd;}
header .timePop > a.close {position:absolute; top:18px; right:19px; overflow:hidden; width:24px; height:24px; text-indent:-9999em; transform:rotate(45deg);}
header .timePop > a.close:before {content:''; position:absolute; top:0; left:11px; width:1px; height:24px; background:#222;}
header .timePop > a.close:after {content:''; position:absolute; top:11px; left:0; width:24px; height:1px; background:#222;}
header .timePop .timer {overflow:hidden;}
header .timePop .timer > div {overflow:hidden; padding:15px;}
header .timePop .timer > div label {float:left; width:33%; margin-bottom:15px;}
header .timePop .refresh {overflow:hidden; padding:15px;}
header .timePop .btnWrap {padding-top:10px;}

#container {overflow:hidden; width:100%; min-width:1580px; padding-top:56px; display:flex;}

#container nav {width:110px; text-align:center;}
#container nav > ul {display:inline-block; width:100%;}
#container nav > ul > li {overflow:hidden;}
#container nav > ul > li > a {display:block; height:100px; padding-top:60px; color:#fff; font-size:14px; border-bottom:1px solid #616673; background-repeat: no-repeat; background-position: 50% 0;}
#container nav > ul > li:nth-child(1) > a {background-image:url(../img/nav_bosh.png);}
#container nav > ul > li:nth-child(2) > a {background-image:url(../img/nav_paas.png);}
#container nav > ul > li:nth-child(3) > a {background-image:url(../img/nav_cont.png);}
#container nav > ul > li:nth-child(4) > a {background-image:url(../img/nav_alarm.png);}
#container nav > ul > li.on > a, #container nav > ul > li:hover > a {background-color:#00a1a1;}
#container nav > ul > li > a span {position:relative; padding-right:12px;}
#container nav > ul > li > a span:after {content:''; position:absolute; bottom:-2px; right:0; width:8px; height:12px; border-width:6px 4px; border-style:solid; border-color:#fff transparent transparent transparent;}
#container nav ul li ul {overflow:hidden;}
#container nav ul li ul li {height:35px;}
#container nav ul li ul li a {display:block; height:35px; color:#fff; font-size:14px; line-height:35px; border-bottom:1px solid #616673;}
#container nav ul li ul li.on a, #container nav ul li ul li a:hover {color:#47c1c2;}

#contents {overflow:hidden; flex:1; padding:0 30px 30px;}

#contents .location {overflow:hidden; background:#fff;}
#contents .location ul {overflow:hidden;}
#contents .location ul li {float:left;}
#contents .location ul li a {position:relative; display:block; overflow:hidden; height:50px; padding:0 25px 0 50px; font-size:16px; font-weight:100; line-height:50px;}
#contents .location ul li a:before {content:''; position:absolute; top:0; left:-35px; width:50px; height:50px; border:1px solid #e2e2e2; transform:rotate(45deg);}
#contents .location ul li:first-child a {padding-left:20px;}
#contents .location ul li:first-child a:before {display:none;}
#contents .location ul li:last-child a {font-size:26px; color:#00a1a1;}

#contents article {position:relative; margin-top:35px; background:#fff;}
#contents article:first-of-type {margin-top:30px;}
#contents article h4 {display:inline-block; width:100%; height:60px; padding:0 20px; font-size:26px; font-weight:100; line-height:60px; border-bottom:1px solid #e0e0e0;}
#contents article h4 strong {color:#40cecd; font-size:26px; font-weight:300;}
#contents article h4 input[type=checkbox] {float:right; visibility: hidden;}
#contents article h4 input[type=checkbox] + label {position:relative; float:right; overflow:hidden; width:70px; height:30px; margin-top:15px; padding:0 10px; font-size:16px; line-height:30px; text-indent:22px; border:0; background:#ddd; border-radius:20px; transition: .5s;}
#contents article h4 input[type=checkbox] + label:before {content:'ON'; position:absolute; top:0; left:-90px; z-index:1; width:140px; height:30px; color:#fff; font-weight:400; border:0;}
#contents article h4 input[type=checkbox] + label:after {content:''; position:absolute; top:3px; left:3px; z-index:2; overflow:hidden; width:24px; height:24px; border:0; background:#fff; border-radius: 12px; transition: .5s;}
#contents article h4 input[type=checkbox]:checked + label {text-indent:102px; background:#a4bf4a;}
#contents article h4 input[type=checkbox]:checked + label:after { border:0;left:43px;}

.popWrap {display:none; position:fixed; top:0; left:0; right:0; bottom:0; z-index:200; background:rgba(0,0,0,.4);}
.popWrap .status {position:absolute; top:15%; left:50%; width:1200px; margin-left:-600px; padding:0 20px 20px; background:#fff;}
.popWrap h4 {display:inline-block; width:100%; height:60px; padding:0 20px; font-size:26px; font-weight:100; line-height:60px; border-bottom:1px solid #e0e0e0;}
.popWrap .status > a.close {position:absolute; top:18px; right:19px; overflow:hidden; width:24px; height:24px; text-indent:-9999em; transform:rotate(45deg);}
.popWrap .status > a.close:before {content:''; position:absolute; top:0; left:11px; width:1px; height:24px; background:#222;}
.popWrap .status > a.close:after {content:''; position:absolute; top:11px; left:0; width:24px; height:1px; background:#222;}

.overview {overflow:hidden; display:flex; width:100%; margin-top:30px; background:#fff;}
.overview > div {position:relative; flex:1; height:120px;}
.overview > div:after {content:''; position:absolute; top:70px; left:0; z-index:1; width:100%; height:2px; background:#43be42;}
.overview > div span {position:relative; z-index:2; float:left; width:240px; padding-left:50px; padding-right:10px; color:#ccc; font-size:40px; line-height:136px; text-align:right; background:#fff;}
.overview > div strong {position:relative; z-index:2; float:left; min-width:100px; padding:0 20px; color:#43be42; font-size:50px; line-height:136px; text-align:center; background:#fff;}
.overview ul {overflow:hidden;}
.overview ul li {position:relative; float:left; width:200px; height:120px; padding:20px 0; text-align:center;}
.overview ul li a {display:block; height:80px;}
.overview ul li span {position:relative; z-index:3; display:block; height:25px; color:#999; font-size:16px; line-height:20px;}
.overview ul li strong {position:relative; z-index:2; padding:0 15px; color:#43be42; font-size:42px; line-height:50px; background:#fff;}
.overview ul li.warning strong {color:#f6a200;}
.overview ul li.warning:after {content:''; position:absolute; top:70px; left:0; z-index:1; width:100%; height:2px; background:#f6a200;}
.overview ul li.critical strong {color:#f4256c;}
.overview ul li.critical:after {content:''; position:absolute; top:70px; left:0; z-index:1; width:100%; height:2px; background:#f4256c;}
.overview ul li.failed strong {color:#c048c8;}
.overview ul li.failed:after {content:''; position:absolute; top:70px; left:0; z-index:1; width:100%; height:2px; background:#c048c8;}
.overview ul li.total strong {color:#999;}
.overview ul li.total:after {content:''; position:absolute; top:70px; left:0; z-index:1; width:100%; height:2px; background:#999;}
.overview + .paasView,
.overview + .contView {margin-top:1px;}

.tab {overflow:hidden; width:100%; border-bottom:1px solid #e0e0e0;}
.tab.style01 ul {float:left;}
.tab.style01 ul li {float:left;}
.tab.style01 ul li a {display:block; height:60px; padding:0 35px; font-size:20px; line-height:60px;}
.tab.style01 ul li.on a {color:#fff; background:#40cecd;}
.tab.style01 div {float:right;}
.tab.style01 div a {float:left; height:60px; padding:0 35px; font-size:20px; line-height:60px; color:#fff; background:#333;}
.tab.style01 div a.overview {position:relative; margin-top:0; padding-left:50px;}
.tab.style01 div a.overview:before {content:''; position:absolute; top:23px; left:20px; width:16px; height:16px; border-top:2px solid #fff; border-bottom:2px solid #fff;}
.tab.style01 div a.overview:after {content:''; position:absolute; top:30px; left:20px; width:16px; height:2px; border-top:2px solid #fff;}

.table.style01 table {table-layout: auto;}
.table.style01 table thead tr th {padding:10px; font-size:18px; font-weight:300; border-bottom:1px solid #333; background:#f9f9f9;}
.table.style01 table tbody tr td {height:50px; padding:0 10px; text-align:center; border-bottom:1px solid #e7e7e7;}
.table.style01 table tbody tr:hover td {background: #eaffff;}
.table.style01 table tbody tr td a {color:#00a1a1; text-decoration:underline;}
.table.style01 table tbody tr td strong {display:inline-block; overflow:hidden; width:90%; height:30px; color:#fff; line-height:28px; font-weight:300; border-radius:3px;}
.table.style01 table tbody tr td strong.running {background:#55c554;}
.table.style01 table tbody tr td strong.warning {background:#fba602;}
.table.style01 table tbody tr td strong.critical {background:#e91a61;}
.table.style01 table tbody tr td strong.fail {background:#c048c8;}
.table.style01 table tbody tr td span {position:relative; float:left; height:34px; margin:5px; padding:0 15px; color:#fff; font-size:16px; font-weight:400; line-height:34px; border-radius:5px; cursor:pointer;}
.table.style01 table tbody tr td span .flag {display:none; position:absolute; bottom:43px; left:0; color:#222; width:200px; padding:10px; border:2px solid #222; background:#fff;}
.table.style01 table tbody tr td span:hover .flag {display:block;}
.table.style01 table tbody tr td span .flag:after {content:''; position:absolute; bottom:-7px; left:12px; width:10px; height:10px; border-bottom:2px solid #222; border-right:2px solid #222; background:#fff; transform:rotate(45deg)}
.table.style01 table tbody tr td span .flag strong {float:left; width:50%; height:24px; color:#222; font-size:12px; font-weight:400; line-height:24px;}
.table.style01 table tbody tr td span .flag em {float:left; width:50%; height:24px; color:#222; font-size:12px; font-weight:200; line-height:24px;}
.table.style01 table tbody tr td span .flag em.running {color:#55c554; font-weight:400;}
.table.style01 table tbody tr td span .flag em.warning {color:#fba602; font-weight:400;}
.table.style01 table tbody tr td span .flag em.critical {color:#e91a61; font-weight:400;}
.table.style01 table tbody tr td span .flag em.fail {color:#c048c8; font-weight:400;}
.table.style01 table tbody tr td span.running {background:#55c554;}
.table.style01 table tbody tr td span.warning {background:#fba602;}
.table.style01 table tbody tr td span.critical {background:#e91a61;}
.table.style01 table tbody tr td span.fail {background:#c048c8;}
.table.style01 table tbody tr td.ing {color:#000;}
.table.style01 table tbody tr td.end {color:#bbb;}
.table.style01 table tbody tr td.left {text-align:left;}
.table.style01 table tbody tr td[rowspan] {border-right:1px solid #e7e7e7;}

.table.style05 .tableWrap {margin-top:30px; border-top:1px solid #e7e7e7;}
.table.style05 h4 + .tableWrap {margin-top:0; border-top:0 none;}
.table.style05 table tbody tr th {height:50px; padding-left:50px; font-weight:300; text-align:left; border-bottom:1px solid #e7e7e7; background:#f9f9f9;}
.table.style05 table tbody tr td {height:50px; padding:0 10px; border-bottom:1px solid #e7e7e7;}

.paging {overflow:hidden; padding:25px 0; text-align:center;}
.paging > a {display:inline-block; width:30px; height:30px; border:1px solid #ddd;}
.paging span {display:inline-block;}
.paging span a {display:inline-block; width:30px; height:30px; border:1px solid #ddd;}
.paging span a.on, .paging span a:hover {color:#fff; border:1px solid #40cecd; background:#40cecd;}

.more {overflow:hidden; padding:25px 0; text-align:center;}
.more a {position:relative; display:inline-block; height:36px; padding:0 50px 0 35px; color:#fff; font-size:18px; line-height:36px; background:#00a1a1;}
.more a:after {content:''; position:absolute; top:9px; right:20px; width:12px; height:12px; border-bottom:1px solid #fff; border-right:1px solid #fff; transform: rotate(45deg);}

/* BTN */
.btnWrap {overflow:hidden; padding:35px 0;}
.btnWrap.center {text-align:center;}
.btnWrap {text-align:center;}
.btnWrap button {display:inline-block; height:50px; padding:0 30px; color:#fff; font-size:22px; font-weight:100; line-height:50px; background:#ddd;}
.btnWrap button.save {background:#333;}
.btnWrap button.coml {background:#4868a3;}

/* BOARD SEARCH */
.listSearch {position:absolute; top:0; right:0; z-index:2; height:60px; padding:12px 20px 12px 0;}
.listSearch.left {position:relative; top:0; left:0; padding:0; border-bottom:1px solid #e0e0e0;}
.listSearch .select_wrap {float:left; margin-left:7px;}
.listSearch > input[type=text] {float:left; margin-left:7px;}
.listSearch > input[type=text].day {margin-left:25px; width:300px; height:59px; border:0;}
.listSearch > input[type=text] + .search {margin-left:0;}
.listSearch .search {float:left; overflow:hidden; width:36px; height:36px; margin-left:10px; text-indent:-9999em; border:1px solid #d1d1d1; background:#d1d1d1 url(../img/icon_search.png) no-repeat 50% 50%;}
.listSearch .search:hover {background:#333 url(../img/icon_search.png) no-repeat 50% 50%;}
.listSearch .date {float:left; overflow:hidden; width:59px; height:59px; margin-left:1px; color:#222; font-size:24px; font-weight:100; background:#d1d1d1;}
.listSearch .date:first-child {margin-left:0;}
.listSearch .date.on,
.listSearch .date:hover {color:#fff; background:#47c1c2;}
.listSearch .ar {position:relative; float:left; overflow:hidden; width:59px; height:59px; margin-left:1px; color:#222; font-size:24px; font-weight:100; background:#fff;}
.listSearch .ar:after {content:''; position:absolute; top:20px; left:16px; width:20px; height:20px; border-top:1px solid #222; border-right:1px solid #222; transform:rotate(45deg);}
.listSearch .ar.left {margin-left:25px;}
.listSearch .ar.left:after {left:26px; border-top:1px solid #222; border-left:1px solid #222; border-right:0; transform:rotate(-45deg);}

.listBtns {position:absolute; top:0; right:0; z-index:2; height:60px;}
.listBtns a {position:relative; float:left; height:60px; padding:0 35px; font-size:20px; line-height:60px; color:#fff; border-left:1px solid #fff; background:#333;}
.listBtns .receipt {padding:0 35px 0 50px;}
.listBtns .receipt:before {content:''; position:absolute; top:23px; left:27px; width:2px; height:16px; border-left:2px solid #fff;}
.listBtns .receipt:after {content:''; position:absolute; top:30px; left:20px; width:16px; height:2px; border-top:2px solid #fff;}
.listBtns .print {background:#999;}
.listBtns .excel {background:#333;}

.running {color:#55c554;}
.warning {color:#fba602;}
.critical {color:#e91a61;}
.fail {color:#c048c8;}

/* datepicker */
.ui-datepicker {width:242px; border:2px solid #222; background:#fff; box-shadow:1px 1px 5px rgba(0,0,0,.4);}
.ui-datepicker .ui-datepicker-prev {position:absolute; top:10px; left:15px; overflow:hidden; width:20px; height:20px;}
.ui-datepicker .ui-datepicker-prev span {position:absolute; top:6px; left:6px; overflow:hidden; width:12px; height:12px; text-indent:-9999em; border-left:1px solid #222; border-top:1px solid #222; transform:rotate(-45deg);}
.ui-datepicker .ui-datepicker-next {position:absolute; top:10px; right:15px; overflow:hidden; width:20px; height:20px;}
.ui-datepicker .ui-datepicker-next span {position:absolute; top:6px; left:6px; overflow:hidden; width:12px; height:12px; text-indent:-9999em; border-right:1px solid #222; border-top:1px solid #222; transform:rotate(45deg);}
.ui-datepicker .ui-datepicker-title {height:44px; text-align:center; line-height:44px;}
.ui-datepicker .ui-datepicker-title .ui-datepicker-year {font-weight:300;}
.ui-datepicker .ui-datepicker-title .ui-datepicker-month {font-weight:500;}
.ui-datepicker .ui-datepicker-calendar {width:100%;}
.ui-datepicker .ui-datepicker-calendar thead tr th {height:34px; font-weight:300; border-top:1px solid #eee; border-bottom:1px solid #eee;}
.ui-datepicker .ui-datepicker-calendar tbody tr td {width:34px; height:34px; font-size:14px; text-align:center;}
.ui-datepicker .ui-datepicker-calendar tbody tr td.ui-datepicker-week-end a {color:#0099ff;}
.ui-datepicker .ui-datepicker-calendar tbody tr td.ui-datepicker-week-end:first-child a {color:#ff4800;}
.ui-datepicker .ui-datepicker-calendar tbody tr td.ui-datepicker-today {background:#eaeaea;}
.ui-datepicker .ui-datepicker-calendar tbody tr td.ui-datepicker-today a {color:#222;}
.ui-datepicker .ui-datepicker-calendar tbody tr td.ui-datepicker-current-day {background:#222;}
.ui-datepicker .ui-datepicker-calendar tbody tr td.ui-datepicker-current-day a {color:#fff;}

/* timepicker */
.ui-datepicker .ui-timepicker-div .ui_tpicker_unit_hide,
.ui-datepicker .ui-timepicker-div .ui-widget-header,
.ui-datepicker .ui-timepicker-div .ui_tpicker_time_label,
.ui-datepicker .ui-timepicker-div .ui_tpicker_time {display:none;}
.ui-datepicker .ui-timepicker-div {overflow:hidden; padding:15px;}
.ui-datepicker .ui-timepicker-div dt {float:left; height:34px; margin-right:10px; font-size:14px; line-height:34px;}
.ui-datepicker .ui-timepicker-div dd {float:left; height:34px;}
.ui-datepicker .ui-timepicker-div dd select {width:50px; height:34px; padding:0 5px; border:1px solid #d7d7d7;}
.ui-datepicker .ui-timepicker-div dd.ui_tpicker_hour {margin-right:20px;}
.ui-datepicker .ui-datepicker-buttonpane {display:flex; width:100%; text-align:center; border-top:1px solid #222;}
.ui-datepicker .ui-datepicker-buttonpane button {flex:1; height:40px; color:#222; font-size:16px; line-height:40px;}
.ui-datepicker .ui-datepicker-buttonpane button:first-child {border-right:1px solid #222;}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close {color:#fff; background:#222;}

/* Bosh Chart */
.boshChart {overflow:hidden; padding-bottom:40px;}
.boshChart .list {overflow:hidden; display:flex; width:100%; flex-wrap: wrap; justify-content:center;}
.boshChart .list li {width:30%; height:250px; margin-left:2%; margin-top:40px;}
.boshChart .list li:nth-child(3n+1) {margin-left:0;}
.boshChart .list li h5 {height:30px; font-size:17px; font-weight:100; text-align:center; line-height:30px;}
.boshChart .list.static li {overflow:hidden; width:100%; height:auto; margin-top:0; margin-left:0; padding:40px 0 30px;; border-top:1px solid #e0e0e0}
.boshChart .list.static li:first-child {border-top:0;}
.boshChart .list.static li h5 {float:left; width:100%; margin-bottom:15px; font-size:30px;}
.boshChart .list.static li > div {float:right; width:60%;}
.boshChart .list.static li > div:first-of-type {float:left; width:40%; display:flex; padding:0 40px 0 20px;}
.boshChart .list.static li > div dl {flex:1; padding-top:30px; text-align:center;}
.boshChart .list.static li > div dl dt {color:#222; font-size:20px; font-weight:500;}
.boshChart .list.static li > .total dl dd {color:#ccc; font-size:80px; font-weight:300;}
.boshChart .list.static li > .total dl.warning dt {color:#fba602;}
.boshChart .list.static li > .total dl.warning dd {color:#fba602;}
.boshChart .list.static li > .total dl.critical dt {color:#e91a61;}
.boshChart .list.static li > .total dl.critical dd {color:#e91a61;}
.boshChart .list.static li > .double dl dt {margin-bottom:15px;}
.boshChart .list.static li > .double dl dd {width:80%; height:50px; margin:0 auto; color:#ccc; font-size:20px; font-weight:300; line-height:50px;}
.boshChart .list.static li > .double dl dd:first-of-type {border-bottom:1px solid #e0e0e0;}
.boshChart .list.static li > .double dl dd span {display:inline-block; width:65px; font-size:16px; text-align:right;}
.boshChart .list.static li > .double dl dd strong {display:inline-block; width:30px; font-size:20px; text-align:right;}
.boshChart .list.static li > .double dl dd.warning.on {color:#fba602;}
.boshChart .list.static li > .double dl dd.critical.on {color:#e91a61;}

.running {color:#55c554;}
.warning {color:#fba602;}
.critical {color:#e91a61;}
.fail {color:#c048c8;}


.boshChart .logs {overflow:hidden;}
.boshChart .logs fieldset {overflow:hidden; padding:30px 20px 50px; border-bottom:1px solid #e0e0e0;}
.boshChart .logs fieldset div {overflow:hidden; margin-top:5px;}
.boshChart .logs fieldset div label {float:left; width:120px; height:30px; padding-right:15px; text-align:right; line-height:30px;}
.boshChart .logs fieldset div input {float:left; margin-right:5px;}
.boshChart .logs fieldset div a {float:left; height:30px; padding-top:7px; margin-right:15px;}
.boshChart .logs fieldset div em {float:left; margin-right:5px;}
.boshChart .logs fieldset div button {height:36px; padding:0 15px; color:#fff; font-size:16px; font-weight:100; line-height:36px; background:#666;}
.boshChart .logs fieldset div.btns {padding-top:25px; text-align:center;}
.boshChart .logs fieldset div.btns button {height:50px; padding:0 35px; color:#fff; font-size:22px; font-weight:100; line-height:50px; background:#5e6882;}
.boshChart .table.style01 table tbody tr td {padding:15px; white-space: normal; text-align:left;}
.boshChart .table.style01 table tbody tr td:first-child {text-align:center;}

/* Alarm History */
.alarmHistory {display:none;}
.alarmHistory ul {overflow:hidden;}
.alarmHistory ul li {overflow:hidden; line-height:50px; border-bottom:1px solid #e7e7e7}
.alarmHistory ul li span {float:left; width:17%; height:50px; padding-left:40px; font-size:14px; background:#f9f9f9;}
.alarmHistory ul li input {float:left; overflow:hidden; width:60%; height:50px; padding:0 40px; color:#000; font-size:18px; text-overflow:ellipsis; white-space:nowrap; border:0;}
.alarmHistory ul li div {float:right; width:23%; height:50px;}
.alarmHistory ul li div button {float:left; width:50%; color:#fff; line-height:50px; background:#999;}
.alarmHistory ul li div button.update {background:#1acb66;}
.alarmHistory ul li div button.delete {background:#db396e;}
.alarmHistory > div {overflow:hidden;}
.alarmHistory > div h4 {margin-bottom:25px;}
.alarmHistory > div textarea {width:96%; height:120px; margin:0 2%;}

/* Alarm Policy */
.alarmPolicy h4 .slider {position:relative; float:right; width:480px; height:5px; margin-top:29px; margin-right:75px;}
.alarmPolicy h4 .slider:after {content:''; position:absolute; left:0; top:0; z-index:1; overflow:hidden; width:496px; height:5px; background:#e9ecf1;}
.alarmPolicy h4 .slider div {position:absolute; left:0; top:0; z-index:2; height:5px; background:#5e6983;}
.alarmPolicy h4 .slider div:before {content:''; position:absolute; right:-13px; top:-23px; width:10px; height:10px; background:#5e6983; transform: rotate(45deg);}
.alarmPolicy h4 .slider span {position:absolute; top:-42px; z-index:2; width:50px; height:24px; color:#fff; font-size:14px; line-height:24px;}
.alarmPolicy h4 .slider span:before {content:''; position:absolute; top:0; left:-18px; z-index:-1; overflow:hidden; width:50px; height:24px; background:#5e6983; border-radius:7px;}
.alarmPolicy h4 .slider span:after {content:''; position:absolute; top:36px; left:0; width:17px; height:17px;border:4px solid #40cecd; background:#fff; cursor:pointer; border-radius: 9px;}
.alarmPolicy h4 .slider .min {position:absolute; left:-45px; top:-6px; font-size:16px; line-height:16px;}
.alarmPolicy h4 .slider .max {position:absolute; right:-70px; top:-6px; font-size:16px; line-height:16px;}
.alarmPolicy .alarmSetting {display:flex; overflow:hidden; width:100%; padding:35px 0; border-bottom:1px solid #d1d1d1;}
.alarmPolicy .alarmSetting dl {flex:1; border-left:1px solid #eee;}
.alarmPolicy .alarmSetting dl dt {color:#3f4453; font-size:26px; font-weight:100; text-align:center;}
.alarmPolicy .alarmSetting dl dd {margin-top:15px; text-align:center;}
.alarmPolicy .alarmSetting dl dd input {width:80px;}
.alarmPolicy .alarmSetting dl dd strong {display:inline-block; width:140px; padding-right:15px; font-size:20px; font-weight:100; text-align:right;}
.alarmPolicy .alarmSetting dl dd span {display:inline-block; width:80px; padding-left:10px; color:#333; font-size:16px; font-weight:100; text-align:left;}
.alarmPolicy fieldset {display:inline-block; width:100%; padding:40px 40px 0;}
.alarmPolicy fieldset input {float:left; width:300px;}
.alarmPolicy fieldset em {float:left; margin:0 10px;}
.alarmPolicy fieldset .select_wrap {float:left; width:200px; margin-left:10px;}

.push .snsBot {padding:30px 40px;}
.push .snsBot p {margin-bottom:15px; color:#ed1b59;}
.push .snsBot .list {overflow:hidden; margin-bottom:40px;}
.push .snsBot .list span {float:left; height:36px; margin-right:30px; font-size:22px; text-align:center; font-weight:100; line-height:34px;}
.push .snsBot .list em {float:left; height:36px; padding-left:30px; font-size:22px; text-align:center; font-weight:100; line-height:34px; border-left:1px solid #ddd;}
.push .snsBot .list button {float:right; width:12%; height:36px; color:#fff; font-size:18px; text-align:center; font-weight:100; line-height:34px; background:#db396e}
.push .snsBot fieldset {display:inline-block; width:100%;}
.push .snsBot fieldset .select_wrap {float:left; width:12%;}
.push .snsBot fieldset input {float:left; width:24%; margin-left:1%;}
.push .snsBot fieldset button {float:right; width:12%; height:36px; color:#fff; font-size:18px; text-align:center; font-weight:100; line-height:34px; background:#39db7e}


.loginWrap {position:fixed; top:0; left:0; right:0; bottom:0; width:100%; height:100%;
    background: #e7ebf6;
    background:-webkit-radial-gradient(closest-side at 35% 40%, #fff, #e7ebf6);
    background:radial-gradient(closest-side at 35% 40%, #fff, #e7ebf6);
}
.loginWrap > div {position:absolute; top:50%; left:50%; overflow:hidden; width:850px; height:470px; margin:-235px 0 0 -425px; background:#5e6882; border-radius:3px; box-shadow:2px 2px 20px rgba(0,0,0,.5);}
.loginWrap > div h1 {height:90px; padding-top:30px; text-align:center; background:#475265;}
.loginWrap > div fieldset {overflow:hidden; padding:70px 150px;}
.loginWrap > div fieldset div {overflow:hidden; width:550px; margin-top:15px;}
.loginWrap > div fieldset div:first-child {margin-top:0;}
.loginWrap > div fieldset div label {display:block; overflow:hidden; padding-left:65px; border-radius:3px;}
.loginWrap > div fieldset div label.id {background:#34404e url(../img/login_icon_id.png) no-repeat 0 50%;}
.loginWrap > div fieldset div label.pw {background:#34404e url(../img/login_icon_pw.png) no-repeat 0 50%;}
.loginWrap > div fieldset div label input {width:100%; height:65px; color:#d7d7d7; font-size:16px; line-height:65px; border:0; background:#4a5569;}
.loginWrap > div fieldset div.btn {display:flex; width:100%; margin-top:40px;}
.loginWrap > div fieldset div.btn button {flex:1; height:50px; color:#fff; font-size:18px; text-align:center; line-height:50px; background:#40cecd; border-radius:3px;}
.loginWrap > div fieldset div.btn button:first-child {margin-right:25px; color:#fff; background:#34404e;}

.join fieldset {overflow:hidden; width:100%; padding:50px 80px;}
.join fieldset > div {position:relative; display:flex; float:left; width:76%;}
.join fieldset > div > input {flex:1; display:flex; height:50px; color:#222; font-size:24px; border:2px solid #ddd; border-radius:5px;}
.join fieldset > div.certif > input {border:2px solid #222;}
.join fieldset > div.certif > p {position:absolute; top:51px; left:0; color:#999; font-size:14px; line-height:34px;}
.join fieldset > div.certif > p.red {color:#ff0000;}
.join fieldset > div.certif > p.grn {color:#11ca00;}
.join fieldset > div > input:focus {border:2px solid #40cecd;}
.join fieldset > div > input:first-child {margin-right:50px;}
.join fieldset > button {float:right; width:20%; height:50px; padding:0 30px; color:#fff; font-size:22px; font-weight:100; line-height:50px; background:#333;}
.join .btnWrap button {width:200px;}

#contents article.zoneWrap h4 {height:60px; padding:12px 20px; line-height:36px;}
.zoneWrap h4 span {float:left; height:60px; margin-right:25px;}
.zoneWrap h4 .select_wrap {float:left; min-width:300px;}
.zoneWrap h4 ul {float:right;}
.zoneWrap h4 ul li {position:relative; float:left; margin-right:40px; font-size:16px;}
.zoneWrap h4 ul li:before {content:'╊'; margin-right:7px; font-weight:600;}
.zoneWrap h4 ul li.run {color:#55c554;}
.zoneWrap h4 ul li.war {color:#fba602;}
.zoneWrap h4 ul li.cri {color:#e91a61;}
.zoneWrap h4 ul li.fai {color:#c048c8;}
.zoneWrap .cellList {display:inline-block; width:100%; padding:25px 30px;}
.zoneWrap .cellList dl {display:inline-block; width:100%; margin-top:15px;}
.zoneWrap .cellList dl:first-child {margin-top:0;}
.zoneWrap .cellList dt {float:left; width:120px; height:34px; line-height:34px;}
.zoneWrap .cellList dd {float:left;}
.zoneWrap .cellList dd span {position:relative; float:left; height:34px; margin-right:5px; padding:0 15px; color:#fff; font-size:16px; font-weight:400; line-height:34px; border-radius:1px; cursor:pointer;}
.zoneWrap .cellList dd span .flag {display:none; position:absolute; bottom:43px; left:0; color:#222; width:200px; padding:10px; border:2px solid #222; background:#fff;}
.zoneWrap .cellList dd span:hover .flag {display:block;}
.zoneWrap .cellList dd span .flag:after {content:''; position:absolute; bottom:-7px; left:12px; width:10px; height:10px; border-bottom:2px solid #222; border-right:2px solid #222; background:#fff; transform:rotate(45deg)}
.zoneWrap .cellList dd span .flag strong {float:left; width:50%; height:24px; color:#222; font-size:12px; font-weight:400; line-height:24px;}
.zoneWrap .cellList dd span .flag em {float:left; width:50%; height:24px; color:#222; font-size:12px; font-weight:200; line-height:24px;}
.zoneWrap .cellList dd span .flag em.running {color:#55c554; font-weight:400;}
.zoneWrap .cellList dd span .flag em.warning {color:#fba602; font-weight:400;}
.zoneWrap .cellList dd span .flag em.critical {color:#e91a61; font-weight:400;}
.zoneWrap .cellList dd span .flag em.fail {color:#c048c8; font-weight:400;}
.zoneWrap .cellList dd span.running {background:#55c554;}
.zoneWrap .cellList dd span.warning {background:#fba602;}
.zoneWrap .cellList dd span.critical {background:#e91a61;}
.zoneWrap .cellList dd span.fail {background:#c048c8;}

#contents article.alarmWrap {background:none;}
#contents article.alarmWrap h4 {border-bottom:0;}
.alarmList {overflow:hidden;}
.alarmList li {float:left; width:19%; margin-left:1%; margin-bottom:20px; padding:15px; background:#fff; cursor:pointer;}
.alarmList li:nth-child(5n+1) {width:20%; margin-left:0;}
.alarmList li h6 {position:relative; height:29px;}
.alarmList li h6 span {position:relative; z-index:2; float:left; padding-right:10px; font-size:18px; font-weight:300; line-height:29px; text-transform:uppercase; background:#fff;}
.alarmList li h6.running {color:#55c554;}
.alarmList li h6.running:after {content:''; position:absolute; top:14px; left:0; width:100%; height:1px; background:#55c554;}
.alarmList li h6.warning {color:#fba602;}
.alarmList li h6.warning:after {content:''; position:absolute; top:14px; left:0; width:100%; height:1px; background:#fba602;}
.alarmList li h6.critical {color:#e91a61;}
.alarmList li h6.critical:after {content:''; position:absolute; top:14px; left:0; width:100%; height:1px; background:#e91a61;}
.alarmList li h6.fail {color:#c048c8;}
.alarmList li h6.fail:after {content:''; position:absolute; top:14px; left:0; width:100%; height:1px; background:#c048c8;}
.alarmList li p {height:60px; font-size:24px; font-weight:200; line-height:60px;}
.alarmList li dl {overflow:hidden; border-top:1px solid rgba(0,0,0,.1);}
.alarmList li dl dt {position:relative; float:left; width:20%; height:30px; padding-left:10px; font-size:13px; line-height:30px;}
.alarmList li dl dt:after {content:''; position:absolute; top:8px; right:0; width:1px; height:13px; background:rgba(0,0,0,.1);}
.alarmList li dl dd {float:left; overflow:hidden; width:80%; height:30px; padding-left:10px; font-size:13px; line-height:30px;}
















